.container .content {
  margin-top: auto;
}

.image {
  @extend .section-second-image;

  max-width: 530px;
  max-height: 314px;

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.action {
  margin-top: 32px;
}

@media (max-width: $breakpoint-medium-max) {
  .image {
    max-width: calc(530px * 0.7);
    max-height: calc(314px * 0.7);
  }
}

@media (max-width: $breakpoint-small-max) {
  .image {
    width: 240px;
    height: 142px;
  }

  .action {
    margin-top: 12px;
  }
}
