.container {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 14px;

  font-size: 16px;
  line-height: 150%;
  color: rgb(var(--foreground-third-rgb));

  a {
    @include link-underline();

    color: rgb(var(--foreground-rgb));
  }
}

.inner {
  cursor: pointer;

  border: 1px solid #e6ecf1;

  &:where([data-is-error="true"]) {
    border-color: red;
  }
}
