.container .content {
  padding-top: 4px;
}

.image {
  @extend .section-second-image;

  max-width: 608px;
  max-height: 318px;
  margin-left: -58px;
}

.action {
  margin-top: 16px;
}

@media (max-width: $breakpoint-medium-max) {
  .image {
    margin-left: 0px;
    max-width: calc(608px * 0.7);
    max-height: calc(318px * 0.7);
  }
}

@media (max-width: $breakpoint-small-max) {
  .image {
    width: 240px;
    height: 147px;
  }

  .action {
    margin-top: 12px;
  }
}
