.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.icon {
  flex-shrink: 0;
  margin-right: 10px;
}

.value {
  font-size: 16px;
  line-height: 150%;
  color: rgb(var(--foreground-third-rgb));
}
