.container {
  display: flex;
  flex: 1;

  // background-color: #fafafa;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  border-left: 8px solid #fafafa;

  // object-fit: contain;
}

.image {
  flex: 1;

  object-fit: contain;
}

.chart {
  flex: 1;
  display: flex;
}

.tvChart{
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 765px;
}
