.container {
  align-items: center;
}

.image {
  @extend .section-second-image;

  max-width: 530px;
  max-height: 256px;
}

@media (min-width: $breakpoint-medium-min) {
  .container .content {
    max-width: 438px;
  }
}

@media (max-width: $breakpoint-medium-max) {
  .image {
    max-width: calc(530px * 0.7);
    max-height: calc(256px * 0.7);
  }
}

@media (max-width: $breakpoint-small-max) {
  .image {
    max-width: 240px;
    max-height: 132px;
  }
}
