.container {
  // position: sticky;
  // top: 0px;
  // left: 0px;
  // right: 0px;

  color: rgb(var(--foreground-invert-rgb));

  background-color: rgb(var(--background-black-rgb));
}

.content {
  @extend .common-section-full;

  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}
