.container {
  align-items: center;
}

.image {
  @extend .section-second-image;

  max-width: 420px;
  max-height: 542px;
}

.action {
  margin-top: 16px;
}

@media (min-width: $breakpoint-medium-min) {
  .container .content {
    max-width: 530px;
  }
}

@media (max-width: $breakpoint-medium-max) {
  .image {
    max-width: calc(420px * 0.7);
    max-height: calc(542px * 0.7);
  }
}

@media (max-width: $breakpoint-small-max) {
  .image {
    max-width: 180px;
    max-height: 225px;
  }
}
