.container {
  @extend .common-section;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;

  &:not(:nth-child(3n)) {
    border-right: 1px solid rgb(var(--border-rgb));
  }

  &:not(:nth-last-child(-n + 3)) {
    border-bottom: 1px solid rgb(var(--border-rgb));
  }
}

.value {
  margin-bottom: 8px;

  font-size: 52px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1px;
}

.description {
  font-size: 16px;
  line-height: 150%;
  color: rgb(var(--foreground-third-rgb));
}
